# Default ignored files
/shelf/
/workspace.xml
/unitigs/
/venv/
/.idea/
/.vscode/
all_kmers_python.txt
benchmark.txt
results-cpu.pdf
google perf.txt
/Prototype_1/tmp/
/Prototype_1/C++/results.cpu
/Prototype_1/C++/*.o
/Prototype_1/C++/-O3
/Prototype_1/C++/main
/kmtricks/
/ggcat/
/Prototype_2/build