# Default ignored files
/shelf/
/workspace.xml
/unitigs/
/venv/
/.idea/
/.vscode/
/tmp/
all_kmers_python.txt
benchmark.txt
results-cpu.pdf
google perf.txt
/C++_prototype_1/results.cpu
/C++_prototype_1/*.o
/C++_prototype_1/-O3
/C++_prototype_1/main
/kmtricks/
/ggcat/