# Default ignored files
/shelf/
/workspace.xml
/unitigs/
/venv/
/.idea/
/.vscode/
all_kmers_python.txt
benchmark.txt
results-cpu.pdf
google perf.txt
/Prototype 1/tmp/
/Prototype 1/C++/results.cpu
/Prototype 1/C++/*.o
/Prototype 1/C++/-O3
/Prototype 1/C++/main
/kmtricks/
/ggcat/
/Prototype 2/
cmake commands.txt